.brand-name
{               
  background: #18f226; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #18f226, #14b1ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #18f226, #14b1ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; 
}

.main-header, .main-page-header{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 100px;
}
.default-header{
  background-image: url(../img/banner.jpg);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 50px;
}
.header-text-holder, .subscribe-holder{
  text-align: center;
  color: white;
}
.default-header-text-holder{
  color: white;
}
.default-header-text-holder h1{
  font-size: 2em;
}

.custom-nav
{
  backdrop-filter: blur(8px);
}